name: Deploy to Server

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Deploy to Server via SSH
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: ${{ secrets.SERVER_PORT }}
                  script: |
                      export PATH=/www/server/nodejs/v22.19.0/bin:$PATH
                      cd /www/wwwroot/po
                      git reset --hard origin/main
                      git pull origin main
                      npm install --production
                      pm2 restart po-invoice || pm2 start server.js --name po-invoice
                      pm2 save
